bin/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/RPG-game/v15/.suo
.vs/RPG-game/v15/.suo
.vs/RPG-game/v15/Browse.VC.db
.vs/RPG-game/v15/Browse.VC.opendb
.vs/RPG-game/v15/ipch/AutoPCH/490a7301ff4456e3/MAIN.ipch
.vs/RPG-game/v15/ipch/AutoPCH/33e0213eccbfdc24/MOVEMENTCONTROLLER.ipch
.vs/RPG-game/v15/.suo
.vs/RPG-game/v15/Browse.VC.db
.vs/RPG-game/v15/ipch/AutoPCH/6a37aad04a6c570e/GAME.ipch
.vs/RPG-game/v15/ipch/AutoPCH/80601df63cd96bc7/HITBOXCONTROLLER.ipch
.vs/RPG-game/v15/ipch/AutoPCH/9fccc0a0a23228b1/GAMESTATE.ipch
.vs/RPG-game/v15/ipch/AutoPCH/b0dfdfdb1ab8aa5f/STATE.ipch
.vs/RPG-game/v15/ipch/AutoPCH/da3cd706f8eec01a/HITBOXCONTROLLER.ipch
.vs/RPG-game/v15/ipch/AutoPCH/e9cc2188a81dc89/ANIMATIONCONTROLLER.ipch
.vs/RPG-game/v15/ipch/AutoPCH/f2f236ede7c21422/ENTITY.ipch
.vs/RPG-game/v15/ipch/AutoPCH/f86fd4be5156f6e2/PLAYER.ipch
bin/intermediates/Win32/Debug/Button.obj
bin/intermediates/Win32/Debug/Game.obj
bin/intermediates/Win32/Debug/GameState.obj
bin/intermediates/Win32/Debug/main.obj
.vs/RPG-game/v15/.suo
.vs/RPG-game/v15/Browse.VC.db
.vs/RPG-game/v15/ipch/AutoPCH/6a37aad04a6c570e/GAME.ipch
.vs/RPG-game/v15/ipch/AutoPCH/b0dfdfdb1ab8aa5f/STATE.ipch
bin/intermediates/Win32/Debug/Button.obj
bin/intermediates/Win32/Debug/GameState.obj
bin/intermediates/Win32/Debug/main.obj
bin/intermediates/Win32/Debug/RPG-game.Build.CppClean.log
bin/intermediates/Win32/Debug/RPG-game.log
bin/intermediates/Win32/Debug/RPG-game.tlog/CL.command.1.tlog
bin/intermediates/Win32/Debug/RPG-game.tlog/CL.read.1.tlog
bin/intermediates/Win32/Debug/RPG-game.tlog/CL.write.1.tlog
bin/intermediates/Win32/Debug/RPG-game.tlog/link.command.1.tlog
bin/intermediates/Win32/Debug/RPG-game.tlog/link.read.1.tlog
bin/intermediates/Win32/Debug/RPG-game.tlog/link.write.1.tlog
bin/intermediates/Win32/Debug/State.obj
bin/intermediates/Win32/Debug/vc141.idb
bin/intermediates/Win32/Debug/vc141.pdb
bin/Win32/Debug/RPG-game.exe
bin/Win32/Debug/RPG-game.ilk
bin/Win32/Debug/RPG-game.pdb
RPG-game/RPG-game.vcxproj
RPG-game/RPG-game.vcxproj.filters
